@use '../abstracts' as *;

.button {
    background-color: $secondary-colour;
    padding: .25em;
    width: 12em;
    height: 5em;
    border-radius: .5em;
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 70%);
};
  
.button-text {
  max-width: 600px;
  position: absolute;
  font-weight: normal;
  font-size: 4em;
  left: 50%;
  transform: translateX(-50%); 
  @include lineHeightCrop(1.3); //line-height: 1.3
};

.painter-umesh-1 {
  font-family: 'Painter Umesh 1';
  @include button-text-colour-contrast('1', contrast($secondary-colour));
};

.painter-umesh-2 {
  font-family: 'Painter Umesh 2';
  @include button-text-colour-contrast('2', contrast($secondary-colour));
};

.painter-umesh-3{
  font-family: 'Painter Umesh 3';
  @include button-text-colour-contrast('4', contrast($secondary-colour));
};

.painter-umesh-4 {
  font-family: 'Painter Umesh 4';
  @include button-text-colour-contrast('3', contrast($secondary-colour))
};