html {
  background-color: salmon;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;

}

.content-container {
  margin: 4em 4em 0 4em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  flex-grow: 1;
  color: white;
  font-size: calc(10px + 2vmin);
}

.kritika-portrait {
  width: 10em;
  height: 10em;
  background-image: url("/assets/IntersectTO_67.jpg");
  background-size: cover;
  display: block;
  border-radius: 10em;
  margin-right: 3em;
}

.hi-im-kritika {
  margin-right: 2em;
  font-family: 'Gotu Regular';
}

.about-me-text {
  margin: 1em 2em 1em 3em;
  font-family: 'Mukta Regular';
}

.button {
  background-color: white;
  padding: .25em;
  width: 12em;
  height: 5em;
  border-radius: .5em;
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

@mixin lineHeightCrop($line-height) {
  &::after {
    content: '';
    display: block;
    margin-bottom: calc((1 - #{$line-height}) * 0.5em);
  }
}

.button-text {
  max-width: 600px;
  position: absolute;
  font-weight: normal;
  font-size: 4em;
  left: 50%;
  transform: translateX(-50%); 
  @include lineHeightCrop(1.3); //line-height: 1.3
}

$painterumesh1: #F3FF75;
$painterumesh2: #A4B30C;
$painterumesh3: #725CFF;
$painterumesh4: #3826B3; 

.painter-umesh-1 {
  font-family: 'Painter Umesh 1';
  color: $painterumesh1;
}

.painter-umesh-2 {
  content: attr(button-text);
  font-family: 'Painter Umesh 2';
  color: $painterumesh2;
}

.painter-umesh-3{
  content: attr(button-text);
  font-family: 'Painter Umesh 3';
  color: $painterumesh3;
}

.painter-umesh-4 {
  content: attr(button-text);
  font-family: 'Painter Umesh 4';
  color: $painterumesh4;
}

.footer {
  flex-shrink: 0;
}

.contact-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
}

.contact-link {
  fill: #ffffff;
  height: 1em;
  margin: 0 1em;
}

@media (width < 930px) {
  .content-container {
    flex-flow: column;

  }

  .kritika-portrait {
    margin: 0;
  }

  .hi-im-kritika {
    text-align: center;
    margin: 0;
  }

  .about-me-text {
    margin: 0 0 .75em 0;
  }
}
