html {
  background-color: salmon;
}

.App {
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  margin: 5em 2em;
  padding: 0 2em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.kritika-portrait {
  width: 10em;
  height: 10em;
  background-image: url("/assets/IntersectTO_67.jpg");
  background-size: cover;
  display: block;
  border-radius: 10em;
  margin-right: 5em;
}

.about-me-text {
  margin: 1em 2em;
  font-family: 'MuktaRegular';
}


@media (width < 930px) {
  .content {
    flex-flow: column;

  }

  .kritika-portrait {
    margin: 0;
  }

  .hi-im-kritika {
    text-align: center;
  }

  .about-me-text {
    margin: 0;
  }
  
}
