body {
  margin: 0;
  font-family: 'GotuRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "GotuRegular";
  src: local("GotuRegular"),
    url("./assets/fonts/Gotu-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "MuktaRegular";
  src: local("MuktaRegular"),
    url("./assets/fonts/Mukta-Regular.ttf") format("truetype");
  font-weight: normal;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
