body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Gotu Regular";
  src: local("GotuRegular"),
    url("./assets/fonts/Gotu-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Mukta Regular";
  src: local("MuktaRegular"),
    url("./assets/fonts/Mukta-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Painter Umesh 1";
  src: local("Painter Umesh 1"),
    url("./assets/fonts/Painter\ Umesh\ 1.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Painter Umesh 2";
  src: local("Painter Umesh 2"),
    url("./assets/fonts/Painter\ Umesh\ 2.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Painter Umesh 3";
  src: local("Painter Umesh 3"),
    url("./assets/fonts/Painter\ Umesh\ 3.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Painter Umesh 4";
  src: local("Painter Umesh 4"),
    url("./assets/fonts/Painter\ Umesh\ 4.ttf") format("truetype");
  font-weight: normal;
}